@font-face {
    font-family: encabezados;
    src: url(fuentes/IBMPlexSansArabic-Medium.ttf);
}
@font-face {
    font-family: parrafos;
    src: url(fuentes/IBMPlexSansArabic-Light.ttf);
}

* {margin: 0; padding: 0;}

body {background:#907b44;}

.wrapped
{width: 90%     ; 
max-width: 100%;  
height: 200px;   
margin: auto;  
}

header .logo a
{ text-decoration: none;
    color: #c45ff3;
font-size: 55px;
line-height: 200px;
float: left;
}

header nav {
    float: right ;
    line-height: 200px;
}

header nav a {
    display: inline-block;
    color: rgb(144, 96, 9);
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
}

.item {
    font-weight: bold;
    text-align: center;}
    .item {background-color: rgb(11, 109, 109);
    border: 300px ;}

.gridpadre {display: grid;
grid-template-columns: 60% 30%;
justify-content: center;
grid-template-rows: 100px 100px 100px 100px;
column-gap: 10px;
row-gap: 10px;
justify-items: stretch;}
    




